<%- include('../partials/head', { title: 'Recuperar Senha', extraCSS: '/login.css' }) %>

<div class="login-container">
    <div class="login-box">
        <h2>Recuperar Senha</h2>
        <form action="/account/recover" method="POST" class="login-form">
            <div class="form-group">
                <label for="email">E-mail</label>
                <div class="input-wrapper">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" required placeholder="Digite seu e-mail">
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-login">Recuperar Senha</button>
            </div>
        </form>
        
        <div class="register-link">
            <p>Lembrou sua senha? <a href="/account/login">Fazer Login</a></p>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
